* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1 {
    background: lightcoral;
}

.box2 {
    background: lightblue;
}

.box3 {
    background: lightgreen;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "box1 box2"
        "box3 box3";

}

/* .box3 {
    grid-column-start: 1;
    grid-column-end: 3;

    grid-column: 1/3;

} */
/* .box1 {
    grid-row: 1/2;
    grid-column: 1/2;
}
.box2 {
    grid-row: 1/3;
} */

.box1 {
    grid-area: box1;
}
.box2 {
    grid-area: box2;
}.box3 {
    grid-area: box3;
}